.weather {
    padding: 20px;
    max-width: 620px;
    margin: 0 auto;
    &__container{
        margin-bottom: 20px;
        padding: 23px 30px;
        border-radius: 10px;
        background: rgba( 255,255,255, 0.1 );
        box-shadow: 2px 5px 12px rgba(0,0,0,0.15);
    }
    &__item{
        position: relative;
        &__city{
            font: 64px/64px $BN;
            letter-spacing: 0.01em;
            text-transform: uppercase;
        }
        &__temp{
            position: absolute;
            top: 18px;
            right: 19px;
        }
        &__info {
            padding: 7px 0;
        }
        &__day{
            font: 40px/42px $BN_light;
        }
        &__date{
            font: 25px/26px $BN_light;
            letter-spacing: 0.015em;
            padding-bottom: 7px;
        }
        &__wind{
            font: 100 18px/22px $font;
        }
        &__perc{
            font: 100 25px/25px $font;
            padding: 14px 0;
        }
        &__img{
            font-size: 145px;
        }
        &__cond{
            padding-top: 7px;
            font: 40px/42px $BN_light;
            text-align: center;
        }
    }
    &__temp--small{
        font: 32px/32px $BN_book;
    }
    &__temp--large{
        font: 160px/160px $BN_bold;
        padding-top: 40px;
        box-sizing: border-box;
        padding-left: 18px;
    }
    &__units{
        font-style: normal;
        font-size: 15px;
    }
    &-prev{
        padding: 15px 30px;
        &__item{
            text-align: center;
            &__day{
                font: 32px/32px $BN_light;
                padding-bottom: 10px;
            }
            &__img{
                font-size: 50px;
                padding-bottom: 15px;
            }
        }
    }
}