@import "reset.scss";
@import "fonts.scss";
@import "vars.scss";
@import "ui.scss";

@import "header.scss";
@import "search.scss";
@import "forecast.scss";

html{
    background: $bg-gradient;
    font-family: $font;
    color: white;
}
