<div class="weather">
    <div class="weather__item">
        <div class="weather__item__wrap">
            <div class="weather__item__city">City name</div>
            <div class="weather__item__temp">
                <span class="weather__temp--small">max: 9 &deg;C </span>
                <span class="weather__temp--small">min: 7 &deg;C</span>
            </div>
            <div class="weather__item__info">
                <div class="weather__item__day">Monday</div>
                <div class="weather__item__date">00/00/2016</div>
                <div class="weather__item__wind">Wind 6km/h</div>
                <div class="weather__item__perc">30%</div>
            </div>
            <img class="weather__item__img" src="https://www.weatherwatch.co.nz/sites/all/modules/custom/weather_forecast_3/icons/12.svg">
            <div class="weather__temp--large">8&deg;C</div>
            <div class="weather__item__cond">Partlt cloudy</div>
        </div>
    </div>

    <div class="weather-prev">
        <div class="weather-prev__item">
            <div class="weather-prev__item__day">Monday</div>
            <div class="weather-prev__item__img">Monday</div>
            <div class="weather-prev__item__temp">Monday</div>
        </div>
    </div>
</div>